.header{
    background-color: rgb(4, 122, 122);
    color:#fff;
    text-align: center;
    padding: 10px;
    border:0px;
    border-radius: 10px;
    transition: 0.6s ;
    cursor: pointer;
}
.header:hover{
    background-color: #fb5200;
    
}